.start-menu {
    font-size: 11px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4282d6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.start-menu-header {
    position: relative;
    align-self: flex-start;
    display: flex;
    align-items: center;
    color: #fff;
    height: 54px;
    padding: 6px 5px 5px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient( to bottom, #1868ce 0%, #0e60cb 12%, #0e60cb 20%, #1164cf 32%, #1667cf 33%, #1b6cd3 47%, #1e70d9 54%, #2476dc 60%, #297ae0 65%, #3482e3 77%, #3786e5 79%, #428ee9 90%, #4791eb 100% );
    overflow: hidden;
}

.start-menu-header:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient( to right, transparent 0, rgb(255, 255, 255, 0.3) 1%, rgb(255, 255, 255, 0.5) 2%, rgb(255, 255, 255, 0.5) 95%, rgb(255, 255, 255, 0.3) 98%, rgb(255, 255, 255, 0.2) 99%, transparent 100% );
    box-shadow: inset 0 -1px 1px #0e60cb;
}

.header__img {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    border-radius: 3px;
    border: 2px solid rgb(222, 222, 222, 0.8);
}

.header__text {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.start-menu-footer {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    height: 36px;
    width: 100%;
    background: linear-gradient( to bottom, #4282d6 0%, #3b85e0 3%, #418ae3 5%, #418ae3 17%, #3c87e2 21%, #3786e4 26%, #3482e3 29%, #2e7ee1 39%, #2374df 49%, #2072db 57%, #196edb 62%, #176bd8 72%, #1468d5 75%, #1165d2 83%, #0f61cb 88% );
}

.footer__item {
    padding: 3px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}

.footer__item:hover {
    background-color: rgba(60, 80, 210, 0.5);
}

.footer__item:hover:active > * {
    transform: translate(1px, 1px);
}

.footer__item__img {
    border-radius: 3px;
    margin-right: 2px;
    width: 22px;
    height: 22px;
}

.menu {
    display: flex;
    margin: 0 2px;
    position: relative;
    border-top: 1px solid #385de7;
    box-shadow: 0 1px #385de7;
}

.orange-hr {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    height: 2px;
    background: linear-gradient( to right, rgba(0, 0, 0, 0) 0%, #da884a 50%, rgba(0, 0, 0, 0) 100% );
    border: 0;
}

.menu__right {
    background-color: #cbe3ff;
    border-left: solid #3a3aff5e 1px;
    padding: 6px 5px 5px;
    width: 190px;
    color: #00136b;
}

.menu__left {
    background-color: #fff;
    padding: 6px 5px 0;
    width: 190px;
    display: flex;
    flex-direction: column;
}

.sub_menu {
    border: 1px solid black;
    position: absolute;
    left: 100%;
    bottom: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.menu__separator {
    height: 7.5px;
    background: linear-gradient( to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100% );
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    background-clip: content-box;
}

.menu__right .menu__separator {
    background: linear-gradient( to right, rgba(0, 0, 0, 0) 0%, #87b3e2b5 50%, rgba(0, 0, 0, 0) 100% );
    background-clip: content-box;
}

.menu__item {
    padding: 1px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}

.menu__left .menu__item {
    height: 34px;
}

.menu__right .menu__item {
    height: 26px;
    margin-bottom: 4px;
    line-height: 13px;
}

.menu__item:hover {
    color: white;
    background-color: #2f71cd;
}

.menu__item:hover .menu__item__subtext {
    color: white;
}

.menu__item__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.menu__right .menu__item__img {
    margin-right: 3px;
    width: 22px;
    height: 22px;
}

.menu__left .menu__item__img {
    margin-right: 3px;
    width: 30px;
    height: 30px;
}

.menu__right .menu__item:nth-child(-n + 5),
.menu__left .menu__item:nth-child(-n + 2),
.menu__left .menu__item:last-child {
    font-weight: 700;
}

.menu__item__subtext {
    color: rgba(0, 0, 0, 0.4);
    line-height: 12px;
    margin-bottom: 1px;
}

.menu__left .menu__item:last-child {
    height: 24px;
}

.menu__item:hover .menu__arrow {
    border-left-color: #fff;
}

.menu__arrow {
    border: 3.5px solid transparent;
    border-right: 0;
    border-left-color: #00136b;
    position: absolute;
    left: 146px;
}
